# ***Student Name: Tushar Panchal***

# ***En. No. : 21162101014***

# ***Branch: CBA***

# ***Batch:  61***

# ***Subject: DMW (Data Mining & Warehousing)***

# **PRACTICAL-3**
Consider the given
dataset of the employees of ABC organization. It has the details of the employees
working for that organization. You need to find out the below mentioned
information from the given dataset.



1)How many entries are there in the employee
dataset?

2)How many departments are there in ABC organization?

3)Find out the maximum salary that is given in
each department?

4)Find out the detail of the employee who have
got the minimum salary in the entire organization?

5)Find out the total salary amount that is given
in each department? (salary of employee working in same department should be
added and displayed)

6)Find out how many managers work in the
organization?

7)Find out that how many employee works in each
department?

8)Find out what is the maximum salary that is
given to employee in this organization?

9)Find the details of all the employees whose
Job_id = SA_MAN.

10)Find the average salary of each department?

11) Find the number of employees working under
every manager in the organization.

12) Extract the name of the employee taken maximum commission.

13) Extract designation wise salary maximum salary to the employees.

14) Extract designation wise salary total salary amount to the employees.

In [1]:
import io
import pandas

In [3]:
from google.colab import files
uploaded =files.upload()

Saving employees.csv to employees.csv

In [4]:
df = pandas.read_csv(io.BytesIO(uploaded['employees.csv']))

df.head(10)

In [6]:
#1)How many entries are there in the employee dataset?
df.count().max()

107

In [7]:
#2)How many departments are there in ABC organization?
df['DEPARTMENT_ID'].nunique()

12

In [8]:
#3)Find out the maximum salary that is given in each department?
df.groupby('DEPARTMENT_ID')['SALARY'].max()

DEPARTMENT_ID
0       7000
10      4400
20     13000
30     11000
40      6500
50      8200
60      9000
70     10000
80     14000
90     24000
100    12000
110    12000
Name: SALARY, dtype: int64

In [9]:
#4)Find out the detail of the employee who have got the minimum salary in the entire organization?
df[df['SALARY']==df['SALARY'].min()]

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
32,132,TJ,Olson,TJOLSON,650.124.8234,1987-07-19,ST_CLERK,2100,0.0,121,50

In [10]:
#5)Find out the total salary amount that is given in each department? (salary of employee working in same department should be added and displayed)
df.groupby('DEPARTMENT_ID')['SALARY'].sum()

DEPARTMENT_ID
0        7000
10       4400
20      19000
30      24900
40       6500
50     156400
60      28800
70      10000
80     304500
90      58000
100     51600
110     20300
Name: SALARY, dtype: int64

In [11]:
# 6)Find out how many managers work in the organization?
df['MANAGER_ID'].nunique()

19

In [12]:
#7)Find out that how many employee works in each department?
df.groupby('DEPARTMENT_ID')['EMPLOYEE_ID'].nunique()

DEPARTMENT_ID
0       1
10      1
20      2
30      6
40      1
50     45
60      5
70      1
80     34
90      3
100     6
110     2
Name: EMPLOYEE_ID, dtype: int64

In [13]:
#8)Find out what is the maximum salary that is given to employee in this organization
df['SALARY'].max()

24000

In [14]:
#9)Find the details of all the employees whose Job_id = SA_MAN.
df[df['JOB_ID']=='SA_MAN']

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
45,145,John,Russell,JRUSSEL,011.44.1344.429268,1987-08-01,SA_MAN,14000,0.4,100,80
46,146,Karen,Partners,KPARTNER,011.44.1344.467268,1987-08-02,SA_MAN,13500,0.3,100,80
47,147,Alberto,Errazuriz,AERRAZUR,011.44.1344.429278,1987-08-03,SA_MAN,12000,0.3,100,80
48,148,Gerald,Cambrault,GCAMBRAU,011.44.1344.619268,1987-08-04,SA_MAN,11000,0.3,100,80
49,149,Eleni,Zlotkey,EZLOTKEY,011.44.1344.429018,1987-08-05,SA_MAN,10500,0.2,100,80

In [15]:
#10)Find the average salary of each department?
df.groupby('DEPARTMENT_ID')['SALARY'].mean().round(2)

DEPARTMENT_ID
0       7000.00
10      4400.00
20      9500.00
30      4150.00
40      6500.00
50      3475.56
60      5760.00
70     10000.00
80      8955.88
90     19333.33
100     8600.00
110    10150.00
Name: SALARY, dtype: float64

In [16]:
#11) Find the number of employees working under every manager in the organization.
df.groupby('MANAGER_ID')['EMPLOYEE_ID'].nunique()

MANAGER_ID
0       1
100    14
101     5
102     1
103     4
108     5
114     5
120     8
121     8
122     8
123     8
124     8
145     6
146     6
147     6
148     6
149     6
201     1
205     1
Name: EMPLOYEE_ID, dtype: int64

In [17]:
#12) Extract the name of the employee taken maximum commission.
df[df['COMMISSION_PCT']==df['COMMISSION_PCT'].max()]

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
45,145,John,Russell,JRUSSEL,011.44.1344.429268,1987-08-01,SA_MAN,14000,0.4,100,80

In [18]:
#13) Extract designation wise salary maximum salary to the employees.
df.groupby('JOB_ID')['SALARY'].max()

JOB_ID
AC_ACCOUNT     8300
AC_MGR        12000
AD_ASST        4400
AD_PRES       24000
AD_VP         17000
FI_ACCOUNT     9000
FI_MGR        12000
HR_REP         6500
IT_PROG        9000
MK_MAN        13000
MK_REP         6000
PR_REP        10000
PU_CLERK       3100
PU_MAN        11000
SA_MAN        14000
SA_REP        11500
SH_CLERK       4200
ST_CLERK       3600
ST_MAN         8200
Name: SALARY, dtype: int64

In [19]:
#14)Extract designation wise salary total salary amount to the employees
df.groupby('JOB_ID')['SALARY'].sum()

JOB_ID
AC_ACCOUNT      8300
AC_MGR         12000
AD_ASST         4400
AD_PRES        24000
AD_VP          34000
FI_ACCOUNT     39600
FI_MGR         12000
HR_REP          6500
IT_PROG        28800
MK_MAN         13000
MK_REP          6000
PR_REP         10000
PU_CLERK       13900
PU_MAN         11000
SA_MAN         61000
SA_REP        250500
SH_CLERK       64300
ST_CLERK       55700
ST_MAN         36400
Name: SALARY, dtype: int64